.content {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wideswatch {
    width: 200px;
    height: 100px;
    border: 5px solid black;
    border-radius: 15px;
    margin: 5px;
}

.swatches {
    display: flex;
    text-align: center;
}

.swatches>h3 {
    margin: 5px 30px;
}


button {
    min-width: 100px;
    width: fit-content;
    min-height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 100%;
    display: block;
    background-color: rgb(33, 129, 84);
}

button:active {
    background-color: rgb(25, 110, 75);
    color: rgb(239, 239, 239);
}

button[disabled] {
    background-color: lightgray;
}

.continue {
    display: none;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    width: 450px;
    gap: 10px;
}

.grid-container.table {
    width: 100%;
    grid-column: 1 / span 5;
    row-gap: 0px;
    overflow: scroll;
    max-height: 400px;
}

.miniswatch {
    width: 22px;
    height: 22px;
    border: 1.5px solid black;
    border-radius: 3px;
    margin: 5px 1px 5px 13px;
    display: inline-block;
}

/* will need a rejig */
.miniswatch.compare {
    width: 44px;
    margin: 5px 1px;
}

.miniswatch:has(+ #red) {
    background-color: rgb(255, 0, 0);
}

.miniswatch:has(+ #green) {
    background-color: rgb(0, 255, 0);
}

.miniswatch:has(+ #blue) {
    background-color: rgb(0, 0, 255);
}

.miniswatch:has(+ #cyan) {
    background-color: rgb(0, 255, 255);
}

.miniswatch:has(+ #magenta) {
    background-color: rgb(255, 0, 255);
}

.miniswatch:has(+ #yellow) {
    background-color: rgb(255, 255, 0);
}

.grid-item {
    width: 100px;
    height: 35px;
    line-height: 100%;
}

.grid-item:has(h4) {
    grid-row: 1;
    width: 50px;
}

.grid-item>h4 {
    text-align: center;
    margin: 9px 1px;
}

/*the guessing row */
.grid-item:has(.numberGuess) {
    grid-row: 1;
}

.grid-item:has(.compare) {
    width: 50px;
}

.numberGuess {
    border: 1.5px solid black;
    border-radius: 3px;
    margin: 5px 14px 5px 1px;
    height: 20px;
    padding-left: 3px;
    width: 5ch;
    position: relative;
    top: -14px;
}

input.numberGuess:invalid {
    border-color: red;
}

.grid-item p {
    text-align: center;
    margin: 5px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px 0;
}

.grid-item.guess-number {
    width: 50px;
}

.grid-item.guess-number p {
    background-color: white;
}

/* Menu styles */
#menu {
    position: fixed;
    /* takes it out of regular flow */
}

#menubox {
    /* display: none; */
    background-color: white;
    width: 200px;
    position: fixed;
    top: 15px;
    left: 15px;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
}

#menuBg {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.01);
}

label {
    display: block;
}

.menu-content h2 {
    margin: 0 auto;
}

.close {
    color: red;
    float: right;
    top: -10px;
    position: relative;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #d90605;
    text-decoration: none;
    cursor: pointer;
}